

h1 {
  text-align: center;
}

p,img {
  text-align: center;

}

span {
  font-weight: bold;
}
li {

  font-size: 30px;

}
h2 {
  font-size: 30px;

  text-align: center;
}

img {


}

.ruby, .cssdesign, .javaandroid, .cnet ,#foot {
  display: none;
}
