#age, #under-18 {
  display: none;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
  font-size: 15px;
  color: red;
}

span {
  font-weight: bold;
}
li {

  font-size: 30px;

}
h2 {
  font-size: 30px;

}

h3 {
  color:red;
  text-align: center;
}

.ruby, .cssdesign, .javaandroid, .cnet ,#answer {
  display: none;
}
